.invoice-box {
  background: white;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 16px;
}

.invoice-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-number{
font-weight: bold;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.25px;
}

.invoice-money{
font-weight: bold;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.8px;
}