.modal {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000005e;
  z-index: 9999;
}

.modal-container {
  background: white;
  margin: 24px;
  padding: 24px;
  border-radius: 8px;
}

.modal-text {
  font-size: 12px;
  color: #888eb0;
  line-height: 22px;
}

.modal-container h2 {
  font-weight: bold;
  font-size: 20px;
}

.modal-btn-container {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 40% 40%;
  margin-top: 24px;
}
